<div class="container-fluid bg-secondary">

  <h5 class="card-title ml-2 text-dark font-weight-bold">List of Matches</h5>
  <ng-container *ngFor="let tournamentFavMatch of userFavMatchesList; index as k">

    <div id="accordianTournFavMatches{{k}}" class="col ml-o mr-0">
      <div class="card bg-dark  mb-1">
        <div class="card-header p-0" id="tournFavMatch{{k}}">
          <h5 class="mb-0">
            <div class=" row ml-0 mr-0">
              <div class="col-4 text-left">
            <button  id="tournFavMatchBtn{{k}}"  class="btn btn-link text-warning" data-toggle="collapse" (click)="onSelectTournament(k)" attr.data-target="#collapseTFM{{k}}"
              aria-expanded="true" attr.aria-controls="collapseTFM{{k}}">
              {{tournamentFavMatch.favMatchId}}
            </button></div>
            <div class="col-3 offset-5 text-right">
             
           <fa name="heart" class="text-warning" ></fa>
           <a (click)="removeTournamentFavMatch(tournamentFavMatch.favMatchId)" class="  ml-1"><fa name="trash" class="text-danger" ></fa></a>
              
               
          </div>
          </div>
          </h5>
        </div>
        <div id="collapseTFM{{k}}" class="collapse hide text-white" aria-labelledby="tournFavMatch" attr.data-parent="#accordianTournFavMatches{{k}}">

            <div class="row ml-1 mt-3">

                    <div class="col-md-4 match-det-input">
                    <div class="form-group row">
                      <label for="createdAt{{k}}" class="col-sm-4 col-form-label">Created At</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="createdAt{{k}}" value="{{tournamentFavMatch.createdAt}}">
                      </div>
                    </div>
                    </div>
                    <div class="col-md-4 match-det-input">
                        <div class="form-group row">
                            <label for="duration{{k}}" class="col-sm-4 col-form-label">Duration</label>
                            <div class="col-sm-8">
                              <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="duration{{k}}" value="{{tournamentFavMatch.duration}}">
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4 match-det-input">
                        <div class="form-group row">
                            <label for="shardId{{k}}" class="col-sm-4 col-form-label">ShardId</label>
                            <div class="col-sm-8">
                              <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="shardId{{k}}" value="{{tournamentFavMatch.shardId}}">
                            </div>
                          </div>
                    </div>
                  </div>

                  <div class="row ml-1 mt-3">

                      <div class="col-md-4 match-det-input">
                      <div class="form-group row">
                        <label for="isCustomMatch{{k}}" class="col-sm-4 col-form-label">Is Custom Match</label>
                        <div class="col-sm-8">
                          <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="isCustomMatch{{k}}" value="{{tournamentFavMatch.isCustomMatch}}">
                        </div>
                      </div>
                      </div>
                      <div class="col-4 match-det-input">
                          <div class="form-group row">
                              <label for="seasonState{{k}}" class="col-sm-4 col-form-label">Season State</label>
                              <div class="col-sm-8">
                                <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="seasonState{{k}}" value="{{tournamentFavMatch.seasonState}}">
                              </div>
                            </div>
                      </div>
                      <div class="col-md-4 match-det-input">
                          <div class="form-group row">
                              <label for="gameMode{{k}}" class="col-sm-4 col-form-label">Game Mode</label>
                              <div class="col-sm-8">
                                <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="gameMode{{k}}" value="{{tournamentFavMatch.gameMode}}">
                              </div>
                            </div>
                      </div>
                    </div>

                    <div class="row ml-1 mt-3">

                        <div class="col-md-4 match-det-input">
                        <div class="form-group row">
                          <label for="titleId{{k}}" class="col-sm-4 col-form-label">Title Id</label>
                          <div class="col-sm-8">
                            <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="titleId{{k}}" value="{{tournamentFavMatch.titleId}}">
                          </div>
                        </div>
                        </div>
                        <div class="col-md-4 match-det-input">
                            <div class="form-group row">
                                <label for="mapName{{k}}" class="col-sm-4 col-form-label">Map Name</label>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="mapName{{k}}" value="{{tournamentFavMatch.mapName}}">
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4 match-det-input">
                            <div class="form-group row">
                                <label for="matchId{{k}}" class="col-sm-4 col-form-label">Match Id</label>
                                <div class="col-sm-8">
                                  <input type="text" readonly class="form-contol-plaintext  border rounded border-primary" id="matchId{{k}}" value="{{tournamentFavMatch.favMatchId}}">
                                </div>
                              </div>
                        </div>
                      </div>
              
            
          

        </div>
      </div>


    </div>



  </ng-container>


</div>